[user]
	name = Eshan Chatterjee
	email = eshan2001221@gmail.com
[init]
	defaultBranch = main

[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    wta = worktree add
    wtl = worktree list
    wtp = worktree prune
    wtr = worktree remove
    stat = status

[core]
	excludesFile = ~/.ignore
    editor = nvim -f

