[submodule "ue4-intellisense-fixes"]
	path = ue4-intellisense-fixes
	url = git@github.com:boocs/ue4-intellisense-fixes.git
[submodule "dots-mdbook"]
	path = dots-mdbook
	url = git@github.com:Eshanatnight/dots-mdbook.git
